.layout-container {
    text-align: center;
    margin-top: 40px;
}

.nav-buttons-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-button {
    min-width: 120px;
    padding: 10px 0;
    white-space: nowrap;
    font-size: 1.1em;
    border-radius: 10px;
    border: none;
    background: rgb(72, 68, 68);
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease; 
}

.nav-button:hover {
    background: #c0c0c0; 
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.nav-button:active {
    transform: translateY(0); 
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
}